.button, .choice-box {
    -fx-font-family: Monospace;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-alignment: center;

    -fx-background-color: #00f2f3;
    -fx-border-color: #25c5e1;

    -fx-cursor: hand;
}

.button:hover, .choice-box:hover {
    -fx-background-color: #fffd00;
    -fx-border-color: #dbd925;
}

.alone-button {
    -fx-pref-width: 50;
    -fx-pref-height: 50;

    -fx-min-width: 0;
    -fx-min-height: 0;
}

.row-button {
    -fx-pref-width: 35;
    -fx-pref-height: 35;

    -fx-min-width: 0;
    -fx-min-height: 0;
}

.circle-button {
    -fx-text-fill: #444;
    -fx-font-size: 13;

    -fx-background-radius: 25;
    -fx-border-radius: 25;

    -fx-pref-height: 29;
    -fx-pref-width: 29;

    -fx-min-height: 29;
    -fx-min-width: 29;
}

.exit-button {
    -fx-background-color: #f58118;
    -fx-border-color: #d04615;
}

.red-button {
    -fx-background-color: #e63906;
    -fx-border-color: #ba0000;
}

.choice-box-table, .button-table {
    -fx-font-size: 20;
    -fx-font-weight: normal;
    -fx-pref-width: 245;
}

.error-panel {
    -fx-background-color: #d50400
}

.success-panel {
    -fx-background-color: #21a657
}

.radius-15 {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.row-HBox {
    -fx-spacing: 5;
    -fx-alignment: center;
}

.popup-HBox {
    -fx-alignment: center;
}

.label, .text-area {
    -fx-font-family: Monospace;
    -fx-font-size: 20;
    -fx-alignment: center;
}

.text-field {
    -fx-font-family: Monospace;
    -fx-font-size: 20;
    -fx-alignment: center;
}

.text-field-big {
    -fx-font-size: 30;
}

.anchor-pane-popup {
    -fx-border-radius: 15;
    -fx-background-radius: 15;

    -fx-background-color: #bbb;
    -fx-border-color: #999;
}

.table-cell {
    -fx-alignment: baseline-center;
}